<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>4d9003e4c3b03cdcb7a0292c9da258d2cec41880</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>SendPush</key>
	<dict>
		<key>development</key>
		<dict>
			<key>PlatformID</key>
			<string>1</string>
			<key>PlatformSecret</key>
			<string>48c0aeeef5d2790ce4ede8f3ebc20a95d9ad465e6b3722d1b2bfe5143d485a3f</string>
			<key>APIUrl</key>
			<string>http://baxford.ngrok.io</string>
		</dict>
		<key>test</key>
		<dict>
			<key>PlatformID</key>
			<string>1</string>
			<key>PlatformSecret</key>
			<string>test</string>
			<key>APIUrl</key>
			<string>http://stagepushapi.herokuapp.com</string>
		</dict>
		<key>staging</key>
		<dict>
			<key>PlatformID</key>
			<string>2</string>
			<key>PlatformSecret</key>
			<string>1988736caf1f78a56c7d5da0d4fb4b28fa6e70be4ef7d14817973178e31eb8fd</string>
			<key>APIUrl</key>
			<string>http://stagepushapi.herokuapp.com/</string>
		</dict>
		<key>production</key>
		<dict>
			<key>PlatformSecret</key>
			<string>test</string>
			<key>PlatformID</key>
			<string>1</string>
			<key>APIUrl</key>
			<string>https://api.sendpush.co</string>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
</dict>
</plist>
