<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>4d9003e4c3b03cdcb7a0292c9da258d2cec41880</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SendPush</key>
	<dict>
		<key>development_PlatformSecret</key>
		<string>809dd9bda0c008126249f7c236d4adc0b9878774bd7a904eeec90a10bf2ef44c</string>
		<key>development_PlatformID</key>
		<string>1</string>
		<key>development_APIUrl</key>
		<string>http://baxford.ngrok.io</string>
		<key>staging_APIUrl</key>
		<string>http://stagepushapi.herokuapp.com</string>
		<key>staging_PlatformSecret</key>
		<string>2c39d64bfa66eee25c47da5eccaa9e4f322c22b6d64cc55cc086207879435eed</string>
		<key>staging_PlatformID</key>
		<string>12</string>
		<key>PlatformSecret</key>
		<string>12ae1cd077cee7eab194ae75291d0ad56e03378fe8fba79fdeb04089ee2148f7</string>
		<key>PlatformID</key>
		<string>1</string>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
</dict>
</plist>
